
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1024px) {

    .block-course-1-part1 img {
        border-top-left-radius: 50px;
        padding: 10px 0px 0px 0px;
    }

    .block-course-2-part1 img {
        border-top-left-radius: 50px;
        padding: 10px 30px 0px 0px;
        margin: 0px 0px 0px 45px;
    }

    .block-course-3-part1 img {
        border-top-left-radius: 50px;
        padding: 10px 30px 0px 0px;
        margin: 0px 0px 0px 45px;
    }

    .block-course-1-part2 {
        background-color: #FFFFFF;
        border-bottom-right-radius: 50px;
        margin: 0px 156px 15px 45px;
    }


    .block-course-2-part2 {
        background-color: #FFFFFF;
        padding: 10px 15px 0px 15px;
        border-bottom-right-radius: 50px;
        margin: 0px 171px 15px 45px;
    }


    .block-course-3-part2 {
        background-color: #FFFFFF;
        margin: 0px 171px 15px 45px;
        padding: 10px 15px 0px 15px;
        border-bottom-right-radius: 50px;
    }
}

@media only screen and (min-width: 768px) {

    .block-course-1-part1 img {
        border-top-left-radius: 50px;
        padding: 10px 90px 0px 0px;
        margin: 10px 0px 0px 45px;
    }

    .block-course-2-part1 img {
        border-top-left-radius: 50px;
        padding: 10px 105px 0px 0px;
        margin: 0px 0px 0px 45px;
    }

    .block-course-3-part1 img {
        border-top-left-radius: 50px;
        padding: 10px 44px 0px 0px;
        margin: 0px 0px 0px 45px;
    }

    .block-course-1-part2 {
        background-color: #FFFFFF;
        border-bottom-right-radius: 50px;
        margin: 0px 156px 15px 45px;
    }


    .block-course-2-part2 {
        background-color: #FFFFFF;
        padding: 10px 15px 0px 15px;
        border-bottom-right-radius: 50px;
        margin: 0px 171px 15px 45px;
    }


    .block-course-3-part2 {
        background-color: #FFFFFF;
        margin: 0px 171px 15px 45px;
        padding: 10px 15px 0px 15px;
        border-bottom-right-radius: 50px;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {


    .block-course-1-part1 img {
        border-top-left-radius: 50px;
        padding: 10px 0px 0px 0px;
    }

    .block-course-2-part1 img {
        border-top-left-radius: 50px;
        padding: 10px 44px 0px 0px;
        margin: 0px 0px 0px 45px;
    }

    .block-course-3-part1 img {
        border-top-left-radius: 50px;
        padding: 10px 44px 0px 0px;
        margin: 0px 0px 0px 45px;
    }

    .block-course-1-part2 {
        background-color: #FFFFFF;
        border-bottom-right-radius: 50px;
        margin: 0px 156px 15px 45px;
    }


    .block-course-2-part2 {
        background-color: #FFFFFF;
        padding: 10px 15px 0px 15px;
        border-bottom-right-radius: 50px;
        margin: 0px 171px 15px 45px;
    }


    .block-course-3-part2 {
        background-color: #FFFFFF;
        margin: 0px 171px 15px 45px;
        padding: 10px 15px 0px 15px;
        border-bottom-right-radius: 50px;
    }
}
